# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Generated helpsearch folders
helpsearch*/

# Simulink code generation folders
slprj/
sccprj/

# Matlab code generation folders
codegen/

# Simulink autosave extension
*.autosave

# Simulink cache files
*.slxc

# Octave session info
octave-workspace

# other
重构总结.docx

# data
data/
*.mat
data_analysis/数据格式样例-蓝牙_10
data_analysis/数据格式样例-蓝牙_5
data_analysis/数据格式样例-蓝牙_15.txt
data_analysis/数据格式样例-蓝牙_5.txt
data_analysis/数据格式样例-蓝牙_20.txt  
data_analysis/data_1s_100ms
data_analysis/data_680ms_600ms
data_analysis/蓝牙数据分析.docx
data_analysis/HLK_data
data_import/data_5.txt
data_import/数据格式样例-蓝牙_5.txt
data_import/数据格式样例-蓝牙_15.txt  
